@{
    ViewData["Title"] = @Localizer["Home Page"];
}


<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <a href="https://github.com/samanazadi1996/Sam.Localization">@Localizer["Multilingual web page project"]</a>
</div>
